---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div
        class="mt-20 relative flex flex-grow flex-col items-center justify-center"
    >
        <h1 class="text-white text-lg">Index</h1>
        <a href="/secondary" class="text-blue-300">Seconday</a>
    </div>
</Layout>
