<div id="starfield" class="absolute inset-0">
    <canvas id="starfield-canvas"></canvas>
</div>

<script>
    import { StarField } from "../lib/starfield";

    // Initialize the starfield
    new StarField();
</script>
